 
body{
    background-color: lightslategray;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}
.postcard{
    background-color: white;
    width: 500px;
    height: 360px;  
    padding: 5px;
    position: absolute;
    top: 25%;
    left: 25%;
}
.head {
    display: flex ;
    align-items: center;
    width: 100% ;  
}
.head .brand {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}
img {
    padding: 5px;
    height: 70px ; 
    width: 70px;
} 
.head .text1 {
    float: left;
    width: 80%;
    border: 0px solid;
    font-size: 20px;
    line-height: 5px;
    padding-left: 5px;
}
.center {
    display: flex;
    width: 100%;
    padding: 5px;
    border: 0px solid;
}
.center .address {
    height: 95%;
    width: 45%; 
    float: right;
    padding-right: 0px;
}
.center .address input{
    border: none;
    border-bottom:  grey solid;
    margin-bottom: 10px; 
    width: 90%;
    height: 30px;
    float: right;
}
.center .text2 {
    height: 95%;
    width: 52%; 
    border: 0px solid black; float:left; 
    float: left;
    overflow:visible ;
}
.footer {
      background-color: white;
      padding: 5px;
      text-align: center;
      width: 94%;
}

